*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0E1120;
}

.container{
    width: 60%;
    max-width: 1024px;
    margin: 0 auto;
}

.title{
    font-size: 3rem;
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2rem;
    color: #fff;
}